[Unit]
Description=Vmess Quota looping
After=network.target

[Service]
ExecStart=/usr/local/sbin/loop-quota-vmess
Restart=on-failure
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
